/* Geral */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background: #0073e6;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
}

.back-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.back-icon:hover {
    color: #004999;
}

/* Main */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cadastro-form {
    background: white;
    padding: 20px 40px 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-submit,
.btn-reset {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #0073e6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #005bb5;
}

.btn-reset {
    background-color: #666;
}

.btn-reset:hover {
    background-color: #444;
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

/* Estilização do ícone de logout */
.logout-icon {
    position: absolute;
    top: 20px;
    right: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 0%;
    transition: background-color 0.3s ease;
}

.logout-icon:hover {
    color: #004999;
}
