<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <form action="/login" method="post">
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Acessar">
        <hr class="divider">
        <p class="primeiro-login">
            <a href="/primeiro_login">Esse é meu primeiro Login</a>
        </p>
    </form>
</body>
</html>
