
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color: #333;
}

header {
    background: #0073e6; 
    color: white;
    padding: 20px 10px;
    text-align: center;
    border-bottom: 3px solid #005bb5;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


section {
    margin-bottom: 30px;
}

h2 {
    color: #0073e6;
    border-bottom: 2px solid #005bb5;
    padding-bottom: 5px;
    margin-bottom: 10px;
}


ul {
    padding: 0;
}

ul li {
    list-style: none;
    margin-bottom: 5px;
}

ul li a {
    color: #0073e6;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #0073e6;
    color: white;
    font-weight: bold;
}

table td {
    background-color: #f7f9fc;
}


footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
}

.logout-icon {
    position: absolute;
    top: 20px;
    right: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 0%;
    transition: background-color 0.3s ease;
}

.logout-icon:hover {
    color: #004999;
}

.username {
    font-style: italic;
    font-size: 14px; 
    margin-top: -3px;
}

.back-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.back-icon:hover {
    color: #004999;
}